/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/logs/*.log
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
.DS_Store
Thumbs.db
*.log
.gemini/
.agents/
GEMINI.md
database/*.sqlite
database/*.sqlite-journal
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
Homestead.json
Homestead.yaml
